
<body>
  
  
  <div class="container"> 
  <div class="form-group" >
    <h1>STUDENT REGISTRATION FORM</h1>
  <label>NAME:</label>
  <input type="text" placeholder="Enter Name">
  <br><br>
  <label>EMAIL:</label>
  <input type="text" placeholder="Enter Email">
  <br><br>
  <label>Date Of Birth:</label>
  <input type="date">
  <br><br>
  <label>ADDRESS:</label>
  <input type="Address" size="50">
  </div>
  <br>
  <div class="GENDER">
    <label for="GENDER">GENDER:</label>
    <input type="radio" id="male" name="text" value="male" >
    <label for="Male">Male</label>
    <input type="radio" id="female" name="text" value="female">
    <label for="Female">Female</label>
  </div><br>
  <div class="GRADUATION">
    <Label >GRADUATION:</Label>
    <input type="radio" id="pg" name="text" value="pg">
    <label for="PG">PG</label>
    <input type="radio" id="ug" name="text" value="ug">
    <label for="UG">UG</label>
  </div><br>
  <div class="DEPARTEMENT">
    <label>DEPARTEMENT:</label>
    <select>
      <option>select departement</option>
      <option>CSE</option>
      <option>ECE</option>
      <option>EEE</option>
      <option>MEH</option>
      <option>CIV</option>
    </select>
  </div><br>
  <div class="course">
    <label>COURSE:</label>
    <select>
      <option>select course</option>
      <option>Machine learning</option>
      <option>Data structure</option>
      <option>Auto cad</option>
      <option>Full stack java</option>
    </select>

  </div><br>
  <div class="submit">
    <input type="submit" value="Submit">
  </div>
 
</div>
  </body>

  
